[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
mysqlclient = "*"
pillow = "*"
django-cleanup = "*"
django-bootstrap-v5 = "*"

[dev-packages]
pre-commit = "*"
black = "*"
ipython = "*"
pandas = "*"
openpyxl = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
